.preview{
    display: flex;
    flex-wrap: wrap;
    font-weight:bold;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    background-color:rgb(214, 244, 237);
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
}

/* .form-control {
    font-weight:bolder;
    margin-bottom: 0.5rem;
    display:block;
    /* background-color:rgb(232, 238, 244); */
/* } */ */

.head {
    font:initial;
    font-weight:bolder;
    font-size: 20px;
    padding: 0.5rem;
    background-color:rgb(216, 244, 214);
    /* border-radius: 6px;
    border: 1px solid #ccc; */
    width: 20%;
    max-width: 100%;
  }

  